In [1]:
import numpy as np
import pandas as pd
import os
import scipy.io
import matplotlib.pyplot as plt
from scipy import signal

In [2]:
# pip install mne

In [3]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [4]:
#Path which contains folders
PATH = "/content/drive/MyDrive/Dataset/"

In [5]:
PATH1 = "/content/drive/MyDrive/Dataset_I_ADHD_All/" 
channel_dict = {'Fp1':0,'Fp2':1,'F3':2,'F4':3,'C3':4,'C4':5,'P3':6,'P4':7,'O1':8,'O2':9,'F7':10,'F8':11,'T7':12,'T8':13,'P7':14,'P8':15,'Fz':16,'Cz':17,'Pz':18}

#*DF* for ADHD only

In [6]:
#Considering all channels and generating ratios for all channels now - ADHD only
all_eeg_dataADHD = []
index = 0
for channel_name in channel_dict:
  for mat_file in os.listdir(os.path.join(PATH1)):
      #loading the file
      if ".mat" in mat_file:
          loaded_file = scipy.io.loadmat(os.path.join(PATH1,mat_file))
          #getting data from the loaded file, mat_file[:-4] gives name of file without .mat
          per_person_data1 = loaded_file[mat_file[:-4]]
          all_eeg_dataADHD.append(per_person_data1)
          #Get the exact column information
          data1 = per_person_data1[:,channel_dict[channel_name]]
per_person_data1 #Add all files with ADHD

array([[156., 121., 126., ..., 367., 261., 402.],
       [ 50., -55., 126., ...,  15.,  85., 121.],
       [121.,  15., 163., ..., 156., 297., 332.],
       ...,
       [121.,  15.,  89., ..., 121.,  50.,  85.],
       [261., 226., 163., ..., 156., 156.,  85.],
       [191., 261., 126., ..., 156., 121.,  50.]])

In [7]:
len(all_eeg_dataADHD)

1159

In [8]:
dfADHDnew = pd.DataFrame(all_eeg_dataADHD[0])
dfADHDnew.head()
len(dfADHDnew)

43252

In [9]:
#Ignore:
# for i in range(1,len(all_eeg_dataADHD[:500])):
#   mee = all_eeg_dataADHD[i]
#   mee = pd.DataFrame(mee)
#   dfADHDnew = pd.concat([mee, dfADHDnew])

In [10]:
gg = all_eeg_dataADHD[0] 
for i in range(1, len(all_eeg_dataADHD[:500])):
  ggg = all_eeg_dataADHD[i]
  gg = np.concatenate((gg, ggg))

In [12]:
gg.shape

(9912822, 19)

In [13]:
dfhalfADHD = pd.DataFrame(gg)

In [14]:
dfhalfADHD.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18
0,1317.0,719.0,1340.0,437.0,1304.0,1083.0,1120.0,52.0,1083.0,163.0,1304.0,347.0,1156.0,52.0,862.0,52.0,1282.0,332.0,825.0
1,1317.0,825.0,1377.0,543.0,1377.0,1046.0,1120.0,273.0,1083.0,384.0,1451.0,384.0,1120.0,347.0,1120.0,273.0,1493.0,613.0,1106.0
2,1458.0,930.0,1561.0,649.0,1488.0,825.0,1230.0,236.0,1230.0,200.0,1488.0,384.0,1230.0,347.0,1156.0,126.0,1458.0,332.0,930.0
3,1423.0,754.0,1304.0,508.0,1230.0,1193.0,1009.0,163.0,1156.0,163.0,1230.0,347.0,1046.0,273.0,972.0,163.0,1353.0,367.0,965.0
4,1423.0,930.0,1377.0,649.0,1340.0,788.0,1083.0,347.0,1230.0,310.0,1267.0,494.0,972.0,457.0,1083.0,310.0,1458.0,437.0,1106.0

In [17]:
dfhalfADHD.shape

(9912822, 19)

In [18]:
dfhalfADHD['Label'] = pd.Series(['ADHD' for x in range(len(dfhalfADHD.index))])

In [19]:
dfhalfADHD.shape

(9912822, 20)

In [20]:
dfADHDnew.shape

(43252, 19)

In [21]:
dfhalfADHD['Label'] = pd.Series(['ADHD' for x in range(len(dfhalfADHD.index))])

In [ ]:
dfhalfADHD.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,Label
0,1317.0,719.0,1340.0,437.0,1304.0,1083.0,1120.0,52.0,1083.0,163.0,1304.0,347.0,1156.0,52.0,862.0,52.0,1282.0,332.0,825.0,ADHD
1,1317.0,825.0,1377.0,543.0,1377.0,1046.0,1120.0,273.0,1083.0,384.0,1451.0,384.0,1120.0,347.0,1120.0,273.0,1493.0,613.0,1106.0,ADHD
2,1458.0,930.0,1561.0,649.0,1488.0,825.0,1230.0,236.0,1230.0,200.0,1488.0,384.0,1230.0,347.0,1156.0,126.0,1458.0,332.0,930.0,ADHD
3,1423.0,754.0,1304.0,508.0,1230.0,1193.0,1009.0,163.0,1156.0,163.0,1230.0,347.0,1046.0,273.0,972.0,163.0,1353.0,367.0,965.0,ADHD
4,1423.0,930.0,1377.0,649.0,1340.0,788.0,1083.0,347.0,1230.0,310.0,1267.0,494.0,972.0,457.0,1083.0,310.0,1458.0,437.0,1106.0,ADHD

In [ ]:
dfhalfADHD.to_csv("/content/drive/MyDrive/CSVsb4filterADHDAndNon/dfADHDhalf.csv")

In [ ]:
# type(per_person_data1)

numpy.ndarray

In [ ]:
#Add class ADHD column
# dfADHDnew['Label'] = pd.Series(['ADHD' for x in range(len(dfADHDnew.index))])

In [ ]:
# dfADHDnew.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,Label
0,-90.0,15.0,-20.0,-55.0,52.0,16.0,236.0,236.0,163.0,273.0,604.0,-20.0,16.0,-20.0,236.0,200.0,-19.0,-55.0,191.0,ADHD
1,156.0,191.0,126.0,156.0,52.0,200.0,126.0,163.0,89.0,126.0,-20.0,89.0,200.0,200.0,126.0,126.0,15.0,121.0,50.0,ADHD
2,50.0,121.0,89.0,85.0,-20.0,126.0,16.0,89.0,16.0,126.0,16.0,16.0,89.0,52.0,236.0,16.0,85.0,85.0,50.0,ADHD
3,226.0,226.0,273.0,191.0,200.0,163.0,126.0,126.0,163.0,347.0,16.0,126.0,310.0,236.0,52.0,89.0,85.0,191.0,50.0,ADHD
4,261.0,332.0,310.0,156.0,273.0,126.0,163.0,163.0,126.0,236.0,16.0,89.0,200.0,89.0,273.0,-20.0,121.0,156.0,-19.0,ADHD

In [ ]:
# dfADHDnew.to_csv("/content/drive/MyDrive/CSVsb4filterADHDAndNon/dfADHDnew.csv")

In [ ]:
PATH2 = "/content/drive/MyDrive/Dataset_I_Non_ADHD_All/" 
channel_dict = {'Fp1':0,'Fp2':1,'F3':2,'F4':3,'C3':4,'C4':5,'P3':6,'P4':7,'O1':8,'O2':9,'F7':10,'F8':11,'T7':12,'T8':13,'P7':14,'P8':15,'Fz':16,'Cz':17,'Pz':18}

#*DF* for NON_ADHD only

In [ ]:
#Considering all channels and generating ratios for all channels now - Non-ADHD only
all_eeg_dataNonADHD = []
index = 0
for channel_name in channel_dict:
  for mat_file in os.listdir(os.path.join(PATH2)):
      #loading the file
      if ".mat" in mat_file:
          loaded_file = scipy.io.loadmat(os.path.join(PATH2,mat_file))
      #getting data from the loaded file, mat_file[:-4] gives name of file without .mat
          per_person_data1 = loaded_file[mat_file[:-4]]
          all_eeg_dataNonADHD.append(per_person_data1)
#Get the exact column information
          data1 = per_person_data1[:,channel_dict[channel_name]]
per_person_data1 #Add all files with ADHD
# print(len(per_person_data1))

array([[297., 332., 531., ..., 719., 543., 543.],
       [297., 367., 494., ..., 297.,  85., 156.],
       [ 15., 191., 163., ..., 578., 402., 332.],
       ...,
       [508., 719., 420., ..., 578., 543., 402.],
       [261., 684., 200., ..., 156., 156., -55.],
       [156., 578., 163., ..., 437., 473., 226.]])

In [ ]:
len(all_eeg_dataNonADHD)

1140

In [ ]:
dfNonADHDnew = pd.DataFrame(all_eeg_dataNonADHD[0])
dfNonADHDnew.head()
len(dfNonADHDnew)

16044

In [ ]:
dfNonADHDnew = pd.DataFrame(all_eeg_dataNonADHD[0])
len(dfNonADHDnew)

16044

In [ ]:
dfNonADHDnew.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18
0,-407,-19,-425,-19,-388,-20,-204,200,-351,200,2923,163,420,126,347,126,121,121,156
1,-125,261,-20,261,-204,273,-241,236,-204,236,-131,200,-278,236,-20,163,-19,402,-160
2,-19,437,16,367,-94,384,-278,273,-57,347,16,420,-131,384,16,384,50,578,-125
3,-301,-125,-315,-55,-388,-20,-241,163,-94,200,-351,-351,-388,16,-131,347,-442,85,-231
4,-336,-301,-278,-90,-388,-20,-241,310,163,273,-499,-241,-462,163,52,384,-336,-55,-336

In [11]:
# len(all_eeg_dataADHD)

In [ ]:
#PD takes too much time so cancelled code
# for i in range(1,len(all_eeg_dataNonADHD[:500])):
#   mee = all_eeg_dataNonADHD[i]
#   mee = pd.DataFrame(mee)
#   dfNonADHDnew = pd.concat([mee, dfNonADHDnew])

In [ ]:
gg1 = all_eeg_dataNonADHD[0] 
for i in range(1, len(all_eeg_dataNonADHD[:500])):
  ggg = all_eeg_dataNonADHD[i]
  gg1 = np.concatenate((gg1, ggg))

In [ ]:
# dfNonADHDnew.shape
dfNonADHD = pd.DataFrame(gg1)

In [ ]:
dfNonADHD.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18
0,-407.0,-19.0,-425.0,-19.0,-388.0,-20.0,-204.0,200.0,-351.0,200.0,2923.0,163.0,420.0,126.0,347.0,126.0,121.0,121.0,156.0
1,-125.0,261.0,-20.0,261.0,-204.0,273.0,-241.0,236.0,-204.0,236.0,-131.0,200.0,-278.0,236.0,-20.0,163.0,-19.0,402.0,-160.0
2,-19.0,437.0,16.0,367.0,-94.0,384.0,-278.0,273.0,-57.0,347.0,16.0,420.0,-131.0,384.0,16.0,384.0,50.0,578.0,-125.0
3,-301.0,-125.0,-315.0,-55.0,-388.0,-20.0,-241.0,163.0,-94.0,200.0,-351.0,-351.0,-388.0,16.0,-131.0,347.0,-442.0,85.0,-231.0
4,-336.0,-301.0,-278.0,-90.0,-388.0,-20.0,-241.0,310.0,163.0,273.0,-499.0,-241.0,-462.0,163.0,52.0,384.0,-336.0,-55.0,-336.0

In [ ]:
dfNonADHD.shape

(7999921, 19)

In [ ]:
#Add class Non ADHD column
dfNonADHD['Label'] = pd.Series(['Non_ADHD' for x in range(len(dfNonADHD.index))])
dfNonADHD.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,Label
0,-407.0,-19.0,-425.0,-19.0,-388.0,-20.0,-204.0,200.0,-351.0,200.0,2923.0,163.0,420.0,126.0,347.0,126.0,121.0,121.0,156.0,Non_ADHD
1,-125.0,261.0,-20.0,261.0,-204.0,273.0,-241.0,236.0,-204.0,236.0,-131.0,200.0,-278.0,236.0,-20.0,163.0,-19.0,402.0,-160.0,Non_ADHD
2,-19.0,437.0,16.0,367.0,-94.0,384.0,-278.0,273.0,-57.0,347.0,16.0,420.0,-131.0,384.0,16.0,384.0,50.0,578.0,-125.0,Non_ADHD
3,-301.0,-125.0,-315.0,-55.0,-388.0,-20.0,-241.0,163.0,-94.0,200.0,-351.0,-351.0,-388.0,16.0,-131.0,347.0,-442.0,85.0,-231.0,Non_ADHD
4,-336.0,-301.0,-278.0,-90.0,-388.0,-20.0,-241.0,310.0,163.0,273.0,-499.0,-241.0,-462.0,163.0,52.0,384.0,-336.0,-55.0,-336.0,Non_ADHD

In [ ]:
#dfNonADHDhalf means processed half but has full non-ADHD records - 
#left as half as the name as the file was saved in that name.
#Not yet filtered.
dfNonADHD.to_csv("/content/drive/MyDrive/CSVsb4filterADHDAndNon/dfNonADHDhalf.csv")

In [ ]:
# Data Visualisation ADHD: 
#commented out for running time. Image generated in submitted paper.
import numpy as np
import pandas as pd 
# import mne

path = PATH
#Valid code to plot EEG data in channels , commented out for running time.
# sfreq = 128 
# info = mne.create_info(ch_names = channel_names, sfreq = sfreq)
# raw = mne.io.RawArray(dfAll.transpose(), info)
# raw.plot()

In [ ]:
#Not dropping any column as visual inspection does not show bad channels. The fluctuations can be corrected in filtering.

#Filtering using scipy: 
#Go to next files: 
#ADHD_Dataset_I_Part_IB_Filtering_ICA 
AND
#NonADHD_Dataset_I_Part_IB_Filtering_ICA
Separate files for ADHD and NON-ADHD created due to heavy data.